.marL-8 {
    margin-left: 8px;
}

.marR-5{
    margin-right: 5px;
}

.size {
    font-size: 25;
}

.size-medium {
    font-size: 20;
}


.c-inherit {
    color: white;
}

// colors ------------------------//
$dark-color: #282829;
$lighter-dark: #636466;
$normal: #939598;

$hover-bg-color: #F7F7F8;

$main-red: #b92b27;

$border-color: #dee0e1;